extends page

block title
  | Tables in #{dbId}

block content

  - addonlist = req.dbconfig.addons
  if addonlist
    #addons.addon-features(style="float:right")
      h3 Addons
      each aname in addonlist
        p: a(href="/#{dbId}/!#{aname}")= aname
        - feat = req.app.addons[aname].features
        if feat
          ul
            each f,name in feat
              li: a(href="/#{dbId}/#{name}")= name


  div(style="float:right; clear: right;")#sql-form

    h3 Direct SQL
    form(method='post',action=path_sql)#sql_request
      p A name for your sql query or command?
        br
        input(type='text',name='name')

      p Type your sql here:
        br
        textarea(name='sql')

      button(type='submit') Execute it

    div: a(href="/:sql") History of previous SQL


  if groups
    each g in groups
      h3= g.name
      ul
        each table in g.list
          if tables[table]
            li: a(href="/#{dbId}/#{table}")= table
          else
            li= table

    if the_rest.length
      h3 The rest
      ul
        each table in the_rest
          li: a(href="/#{dbId}/#{table}")= table

  else 
    ul
      each table in tablesList
        li: a(href="/#{dbId}/#{table}")= table
